name: nfc_card_password_saver
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0+1

environment:
  sdk: ^3.11.0

dependencies:
  flutter:
    sdk: flutter
  flutter_secure_storage: ^10.0.0
  google_fonts: ^8.0.2
  local_auth: ^3.0.0
  lottie: ^3.3.2
  nfc_manager: ^4.1.1
  provider: ^6.1.5+1
  shared_preferences: ^2.5.4

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
